@charset "UTF-8";

body{
background-color: aqua;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
}

h1{
color: aquamarine;
background-color: rgb(169, 204, 235);
}

h2{
color:aquamarine;
background-color: rgb(169, 204, 235;
}

p{
    text-align: justify;
}